
.container {
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	}



.buttons {
	float: right;
	max-width: 900px;
	
	
}

 .aboutcontainer {
 	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	}

.buttons li {
	margin-right: 10px;
	display: inline;

}

.tree {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	width: 90%;
	display: block;	
	}
	
	.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
	
	li {
	margin-right: 10px;
	display: inline;
	}
	
.contact {
	
	margin-top:50px;
	padding:.5em;
	
}


.events {
	width: 80%;
	margin-top: 2em;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: .5em;
	display: block;	
	
}

.container {
	width:100%;
}

.weaving {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

.artisan {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}
.paper {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

.jewelry {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

.directions {
	width: 50%;
	margin-top: 4em;
	margin-right: auto;
	margin-left:auto;
	float:left;
	padding: 5px;
}	
.map {

float: right;
margin-top: 2em;
	margin-right: 2em;

}	

.vendors {
	width: 80%;
	margin-top: 2em;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: .5em;
	display: block;	
}

.vendorimages ul{
width: 80%;
margin-top: 2em;
margin-right: auto;
margin-left:auto;

}


.vendorimages img {
	width: 18%;
	padding: 10px;
	margin-top: 2em;
	margin-right: auto;
margin-left:auto;
	display: inline;

}

 .sell {
 	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	}
	
	.app {
	margin-top: 2em;
	}