
.container {
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 2em;
	
}

.logo {


}


.buttons {
	margin-right: 1em;
	margin-left: 1em;
	float: right;
}

.events {
	width: 80%;
	margin-top: 2em;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: .5em;
	display: block;
	
	
}

.container {
	width:100%;
}

.weaving {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

.artisan {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}
.paper {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

.jewelry {
	width: 25%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	padding: 1em;
	float:left;
}

