
body {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #222;
}
.description {
	font-family: Georgia, "Times New Roman",Times,serif;
	color: #303030;
	font-size: 14px;

}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 18px;
}

